*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: cadetblue;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 300px;
    height: 500px;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 10px #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img{
    width: 100%;
    height: 150px;
}
.card .text{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}